<h3>My name is: <%= @name %></h3>
<h3> my age is: <%= @age %></h3>

favorite films:
 <% @favorite_movies.each do |movie| %>
   <section class="movie">
      <div class="summary">
         <h2>
          <%= movie.name %>
         </h2>
         <h3>
            <%= isMovieFlop(movie) %>
         </h3>
         <p>
            <%= truncate(movie.description, length: 150, separator: ' ') %>
         </p>
      </div>
   </section>
  <% end %>