<section class="movie-details">
  <div class="details">
    <h1><%= @movie.name %></h1>
    <h2>
    <%= movie_year(@movie) %> &bull <%= @movie.rating %>
    </h2>
    <p>
      <%= @movie.description %>
    </p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= isMovieFlop(@movie) %></td>
      </tr>
    </table>
  </div>
</section>