<h1>Create new Movie</h1>

<%= form_with(model: @movie,local:true) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :released_on %>
  <%= f.date_select :released_on, {}, {class: "date"} %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>


  <%= f.label :description %>
  <%= f.text_area :description, rows: 7 %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit %>

<% end %>