<section class="movie-details">
  <div class="image">
    <%= image_tag @movie.image_file_name %>
  </div>

  <div class="details">
    <h1><%= @movie.name %></h1>
    <h2>
      <%= movie_year(@movie) %> &bull <%= @movie.rating %>
    </h2>

    <span class="stars">
    <%= average_stars(@movie) %>
    </span>


    <p>

    <%= truncate(@movie.description, length: 150, separator: ' ') %>

    </p>

    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= isMovieFlop(@movie) %></td>
      </tr>
    </table>

    <%= link_to "Write Review", new_film_review_path(@movie),
    class: "review" %>

    <section class="admin">
      <%= link_to "Edit",edit_film_path, class:"button" %>
      <%= link_to "Delete", film_path, class:"button", method: :delete,
      data:{ confirm:" are you sure?" }
      %>
    </section>
  </div>
</section>