<section class="movie-details">
  <div class="details">
    <h1><%= @movie.name %></h1>
    <h2>
    <%= movie_year(@movie) %> &bull <%= @movie.rating %>
    </h2>
    <p>
      <%= @movie.description %>
    </p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= isMovieFlop(@movie) %></td>
      </tr>
    </table>

    <section class="admin">
      <%= link_to "Edit",edit_film_path, class:"button" %>
    </section>
  </div>
</section>